In [1]:
import pandas            as pd
import numpy             as np
import statsmodels.api   as sm
import seaborn           as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

sns.set()

### Pre-DataAnalise

In [2]:
data_raw = pd.read_csv("KaggleV2-May-2016.csv")

In [3]:
data_raw.describe(include="all")

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
count,1.105270e+05,1.105270e+05,110527,110527,110527,110527.000000,110527,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527
unique,NaN,NaN,2,103549,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,F,2016-05-06T07:09:54Z,2016-06-06T00:00:00Z,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,NaN,NaN,No
freq,NaN,NaN,71840,24,4692,NaN,7717,NaN,NaN,NaN,NaN,NaN,NaN,88208
mean,1.474963e+14,5.675305e+06,NaN,NaN,NaN,37.088874,NaN,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,NaN
std,2.560949e+14,7.129575e+04,NaN,NaN,NaN,23.110205,NaN,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,NaN
min,3.921784e+04,5.030230e+06,NaN,NaN,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,4.172614e+12,5.640286e+06,NaN,NaN,NaN,18.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,3.173184e+13,5.680573e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,9.439172e+13,5.725524e+06,NaN,NaN,NaN,55.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN

We have 37920 unique patiant, so I decided remouve duplcate patiants, notwithstanding they had diferents scheduleds id.

In [4]:
data_raw["AppointmentID"].nunique()

110527

In [5]:
data_raw = data_raw.copy()
data_raw.drop_duplicates(subset ="PatientId", 
                     keep = False, inplace = True)
data_raw["AppointmentID"].nunique()

37920

## Find days to Appointment

In [6]:
data_diferencedays = data_raw.copy()
data_diferencedays["ScheduledDayDATEFORMAT"] = (data_diferencedays["ScheduledDay"])
data_diferencedays["ScheduledDayDATEFORMAT"] = pd.to_datetime(data_diferencedays.ScheduledDayDATEFORMAT)
data_diferencedays["AppointmentDayDATEFORMAT"] = (data_diferencedays["AppointmentDay"])
data_diferencedays["AppointmentDayDATEFORMAT"] = pd.to_datetime(data_diferencedays.AppointmentDayDATEFORMAT)
data_diferencedays["DaysToAppointment"] = (data_diferencedays["AppointmentDayDATEFORMAT"] - data_diferencedays["ScheduledDayDATEFORMAT"]).dt.days
data_diferencedays.loc[data_diferencedays.DaysToAppointment < 0, 'DaysToAppointment'] = 0
data_diferencedays.describe(include="all")

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment
count,3.792000e+04,3.792000e+04,37920,37920,37920,37920.000000,37920,37920.000000,37920.000000,37920.000000,37920.000000,37920.000000,37920.000000,37920,37920,37920,37920.000000
unique,NaN,NaN,2,37232,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2,37232,27,NaN
top,NaN,NaN,F,2016-03-29T10:43:41Z,2016-06-06T00:00:00Z,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,NaN,NaN,No,2016-03-29 10:43:41+00:00,2016-06-06 00:00:00+00:00,NaN
freq,NaN,NaN,23675,10,1677,NaN,2423,NaN,NaN,NaN,NaN,NaN,NaN,30802,10,1677,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-07 10:40:59+00:00,2016-04-29 00:00:00+00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,NaN
mean,1.475646e+14,5.668888e+06,NaN,NaN,NaN,36.784362,NaN,0.087236,0.197178,0.069409,0.022310,0.019146,0.335179,NaN,NaN,NaN,11.313555
std,2.552804e+14,7.749066e+04,NaN,NaN,NaN,23.831285,NaN,0.282185,0.397873,0.254152,0.147692,0.151480,0.472059,NaN,NaN,NaN,17.005456
min,3.921784e+04,5.134197e+06,NaN,NaN,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,4.172537e+12,5.629586e+06,NaN,NaN,NaN,16.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,3.195643e+13,5.676262e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,3.000000
75%,9.536950e+13,5.723149e+06,NaN,NaN,NaN,56.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,18.000000
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN,NaN,NaN,178.000000

### Clean outliers

In [7]:
q = 90 #data_raw['Age'].quantile(0.90)#90#
data_diferencedays = data_diferencedays[data_diferencedays["Age"]<q]
data_diferencedays = data_diferencedays[data_diferencedays["Age"]> 0]

q = 40 #data_diferencedays['DaysToAppointment'].quantile(0.99)
data_diferencedays = data_diferencedays[data_diferencedays["DaysToAppointment"]<q]
data_diferencedays.describe(include="all")

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment
count,3.430500e+04,3.430500e+04,34305,34305,34305,34305.000000,34305,34305.000000,34305.000000,34305.000000,34305.000000,34305.000000,34305.000000,34305,34305,34305,34305.000000
unique,NaN,NaN,2,33706,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2,33706,27,NaN
top,NaN,NaN,F,2016-05-06T07:09:54Z,2016-06-06T00:00:00Z,NaN,MARIA ORTIZ,NaN,NaN,NaN,NaN,NaN,NaN,No,2016-05-06 07:09:54+00:00,2016-06-06 00:00:00+00:00,NaN
freq,NaN,NaN,21479,9,1516,NaN,1893,NaN,NaN,NaN,NaN,NaN,NaN,28138,9,1516,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-21 07:10:20+00:00,2016-04-29 00:00:00+00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,NaN
mean,1.476184e+14,5.681121e+06,NaN,NaN,NaN,37.281941,NaN,0.092290,0.201778,0.071972,0.023816,0.019560,0.314065,NaN,NaN,NaN,7.990118
std,2.551562e+14,6.071691e+04,NaN,NaN,NaN,22.993049,NaN,0.289439,0.401333,0.258445,0.152477,0.153272,0.464149,NaN,NaN,NaN,10.668220
min,3.921784e+04,5.491952e+06,NaN,NaN,NaN,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,4.178387e+12,5.639981e+06,NaN,NaN,NaN,17.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,3.194633e+13,5.681703e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,2.000000
75%,9.536869e+13,5.729113e+06,NaN,NaN,NaN,56.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,14.000000
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,89.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN,NaN,NaN,39.000000

## Whats day of week was the appointment:

In [8]:
data_weekname = data_diferencedays.copy()

In [9]:
data_weekname["WeekName"] = data_weekname["AppointmentDayDATEFORMAT"].dt.weekday_name
data_weekname["Month"] = data_weekname["AppointmentDayDATEFORMAT"].dt.month_name()

In [10]:
data_weekname.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment,WeekName,Month
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes,2016-04-27 15:05:12+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No,2016-04-29 08:02:16+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No,2016-04-27 12:48:25+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,No,2016-04-27 14:58:11+00:00,2016-04-29 00:00:00+00:00,1,Friday,April

## Create binary to GENDER and No-Show

In [11]:
data_toBinary = data_weekname.copy()
data_toBinary["No-show"] = data_toBinary["No-show"].map({"No":0, "Yes":1})
data_toBinary["Gender"] = data_toBinary["Gender"].map({"F":1, "M":0})
data_toBinary.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment,WeekName,Month
4,8.841186e+12,5642494,1,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
6,7.336882e+14,5630279,1,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,1,2016-04-27 15:05:12+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
8,5.639473e+13,5638447,1,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,0,2016-04-29 08:02:16+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
9,7.812456e+13,5629123,1,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,0,2016-04-27 12:48:25+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
10,7.345362e+14,5630213,1,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,0,2016-04-27 14:58:11+00:00,2016-04-29 00:00:00+00:00,1,Friday,April

## Creating Dummies to Neighbourhood, weekname and month

In [12]:
data_w_dummies = pd.get_dummies(data_toBinary, columns=["Neighbourhood","WeekName","Month"],drop_first=True)
data_w_dummies.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,...,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,WeekName_Monday,WeekName_Saturday,WeekName_Thursday,WeekName_Tuesday,WeekName_Wednesday,Month_June,Month_May
4,8.841186e+12,5642494,1,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,7.336882e+14,5630279,1,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5.639473e+13,5638447,1,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,7.812456e+13,5629123,1,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,7.345362e+14,5630213,1,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
#data_w_dummies.columns.values

### Finding TARGET and Inputs data

In [14]:
data2 = data_w_dummies.copy()
data2

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,...,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,WeekName_Monday,WeekName_Saturday,WeekName_Thursday,WeekName_Tuesday,WeekName_Wednesday,Month_June,Month_May
4,8.841186e+12,5642494,1,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,7.336882e+14,5630279,1,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5.639473e+13,5638447,1,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,7.812456e+13,5629123,1,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,7.345362e+14,5630213,1,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110501,4.544252e+11,5758133,0,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,44,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110511,8.235996e+11,5786742,1,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,14,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110512,9.876246e+13,5786368,1,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,41,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110513,8.674778e+13,5785964,0,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,2,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110520,9.969977e+14,5650534,1,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,42,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [15]:
target = data2[["No-show"]]
inputs = data2.drop(['No-show','PatientId', 'AppointmentID', 'ScheduledDay'
                     ,'AppointmentDay','ScheduledDayDATEFORMAT', 'AppointmentDayDATEFORMAT',
                     'Month_May','Month_June'], axis=1)
#inputs = data2[['DaysToAppointment',"Age","Gender"]]
#inputs

In [16]:
'''from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(inputs)
inputs_scaled = scaler.transform(inputs)'''

'from sklearn.preprocessing import StandardScaler\n\nscaler = StandardScaler()\nscaler.fit(inputs)\ninputs_scaled = scaler.transform(inputs)'

### Split data in train and test

In [17]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3, random_state=42)
y_train

       No-show
41456        0
85848        1
67234        0
73473        0
26939        0
...        ...
56041        0
23311        1
39393        0
2657         1
52062        0

[24013 rows x 1 columns]

### Plot of Age vs No-Show

plt.scatter(x_train['Age'],y_train,color='C0',  alpha=0.2)
plt.xlabel("Age", fontsize=20)
plt.ylabel('No-show', fontsize=20)
plt.show()

In [18]:
inputs_train = sm.add_constant(x_train)#.to_numpy())
reg_log = sm.Logit(y_train,inputs_train)
results_log = reg_log.fit(maxiter=1400, method='cg')
results_log.summary()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.437197
         Iterations: 1400
         Function evaluations: 3173
         Gradient evaluations: 3170

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                No-show   No. Observations:                24013
Model:                          Logit   Df Residuals:                    23918
Method:                           MLE   Df Model:                           94
Date:                Fri, 29 Nov 2019   Pseudo R-squ.:                 0.07337
Time:                        11:56:00   Log-Likelihood:                -10498.
converged:                      False   LL-Null:                       -11330.
Covariance Type:            nonrobust   LLR p-value:                3.796e-285
=============================================================================================================
                                                coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
const                                        -1.5736      1.573     -1.000      0.317      -4.657       1.510
Gender                                        0.0168      0.037      0.456      0.648      -0.055       0.089
Age                                          -0.0075      0.001     -7.939      0.000      -0.009      -0.006
Scholarship                                   0.1042      0.059      1.755      0.079      -0.012       0.221
Hipertension                                 -0.1565      0.059     -2.663      0.008      -0.272      -0.041
Diabetes                                      0.1093      0.080      1.372      0.170      -0.047       0.265
Alcoholism                                    0.3034      0.108      2.797      0.005       0.091       0.516
Handcap                                       0.0098      0.123      0.080      0.937      -0.231       0.250
SMS_received                                  0.2909      0.040      7.295      0.000       0.213       0.369
DaysToAppointment                             0.0495      0.002     28.195      0.000       0.046       0.053
Neighbourhood_ANDORINHAS                     -0.1601      1.579     -0.101      0.919      -3.255       2.935
Neighbourhood_ANTÔNIO HONÓRIO                -0.8595      1.605     -0.535      0.592      -4.006       2.287
Neighbourhood_ARIOVALDO FAVALESSA             0.0528      1.602      0.033      0.974      -3.087       3.193
Neighbourhood_BARRO VERMELHO                  0.4076      1.598      0.255      0.799      -2.725       3.541
Neighbourhood_BELA VISTA                      0.0261      1.578      0.017      0.987      -3.066       3.118
Neighbourhood_BENTO FERREIRA                  0.0171      1.583      0.011      0.991      -3.085       3.119
Neighbourhood_BOA VISTA                       0.0544      1.603      0.034      0.973      -3.087       3.195
Neighbourhood_BONFIM                         -0.0233      1.576     -0.015      0.988      -3.112       3.066
Neighbourhood_CARATOÍRA                       0.3553      1.576      0.225      0.822      -2.733       3.444
Neighbourhood_CENTRO                         -0.0336      1.576     -0.021      0.983      -3.123       3.055
Neighbourhood_COMDUSA                         0.1687      1.613      0.105      0.917      -2.992       3.330
Neighbourhood_CONQUISTA                       0.1296      1.583      0.082      0.935      -2.974       3.233
Neighbourhood_CONSOLAÇÃO                     -0.2779      1.581     -0.176      0.860      -3.376       2.821
Neighbourhood_CRUZAMENTO                     -0.2227      1.583     -0.141      0.888      -3.326       2.880
Neighbourhood_DA PENHA                        0.0100      1.577      0.006      0.995      -3.081       3.101
Neighbourhood_DE LOURDES                     -0.4204      1.609     -0.261      0.794      -3.574       2.733
Neighbourhood_DO CABRAL                      -0.6817      1.596     -0.427      0.669      -3.810       2.447
Neighbourhood_DO MOSCOSO                      0.6701      1.589      0.422      0.673      -2.444       3.784
Neighbourhood_DO QUADRO                      -0.4248      1.585     -0.268      0.789      -3.531       2.681
Neighbourhood_ENSEADA DO SUÁ                  0.5205      1.600      0.325      0.745      -2.615       3.656
Neighbourhood_ESTRELINHA                      0.4016      1.588      0.253      0.800      -2.710       3.513
Neighbourhood_FONTE GRANDE                    0.2567      1.591      0.161      0.872      -2.863       3.376
Neighbourhood_FORTE SÃO JOÃO                 -0.2225      1.582     -0.141      0.888      -3.324       2.879
Neighbourhood_FRADINHOS                      -0.6086      1.624     -0.375      0.708      -3.791       2.574
Neighbourhood_GOIABEIRAS                     -0.3680      1.590     -0.232      0.817      -3.483       2.747
Neighbourhood_GRANDE VITÓRIA                 -0.0388      1.582     -0.025      0.980      -3.138       3.061
Neighbourhood_GURIGICA                        0.3121      1.577      0.198      0.843      -2.778       3.402
Neighbourhood_HORTO                           0.6048      1.614      0.375      0.708      -2.559       3.768
Neighbourhood_ILHA DAS CAIEIRAS               0.5159      1.581      0.326      0.744      -2.582       3.614
Neighbourhood_ILHA DE SANTA MARIA            -0.0997      1.579     -0.063      0.950      -3.195       2.996
Neighbourhood_ILHA DO BOI                    -1.6966      2.491     -0.681      0.496      -6.578       3.185
Neighbourhood_ILHA DO FRADE                   1.5085      2.148      0.702      0.483      -2.702       5.719
Neighbourhood_ILHA DO PRÍNCIPE                0.1127      1.579      0.071      0.943      -2.982       3.207
Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE     1.3703      2.679      0.511      0.609      -3.881       6.621
Neighbourhood_INHANGUETÁ                      0.3244      1.580      0.205      0.837      -2.773       3.421
Neighbourhood_ITARARÉ                         0.1704      1.575      0.108      0.914      -2.917       3.258
Neighbourhood_JABOUR                         -0.4067      1.577     -0.258      0.796      -3.497       2.684
Neighbourhood_JARDIM CAMBURI                 -0.1692      1.576     -0.107      0.914      -3.257       2.919
Neighbourhood_JARDIM DA PENHA                -0.5210      1.576     -0.331      0.741      -3.609       2.567
Neighbourhood_JESUS DE NAZARETH               0.1696      1.578      0.108      0.914      -2.922       3.262
Neighbourhood_JOANA D´ARC                    -0.1357      1.581     -0.086      0.932      -3.235       2.964
Neighbourhood_JUCUTUQUARA                    -0.0942      1.589     -0.059      0.953      -3.208       3.019
Neighbourhood_MARIA ORTIZ                    -0.4053      1.574     -0.257      0.797      -3.491       2.681
Neighbourhood_MARUÍPE                        -0.0082      1.579     -0.005      0.996      -3.102       3.086
Neighbourhood_MATA DA PRAIA                  -0.2558      1.588     -0.161      0.872      -3.368       2.856
Neighbourhood_MONTE BELO                     -0.1826      1.585     -0.115      0.908      -3.290       2.925
Neighbourhood_MORADA DE CAMBURI              -0.3626      1.648     -0.220      0.826      -3.592       2.866
Neighbourhood_MÁRIO CYPRESTE                 -0.2810      1.601     -0.176      0.861      -3.418       2.856
Neighbourhood_NAZARETH                       -0.4552      1.672     -0.272      0.785      -3.732       2.821
Neighbourhood_NOVA PALESTINA                  0.0427      1.577      0.027      0.978      -3.049       3.134
Neighbourhood_PARQUE INDUSTRIAL              -0.3442      3.688     -0.093      0.926      -7.572       6.884
Neighbourhood_PARQUE MOSCOSO                  0.3106      1.582      0.196      0.844      -2.790       3.411
Neighbourhood_PIEDADE                        -0.3675      1.605     -0.229      0.819      -3.513       2.778
Neighbourhood_PONTAL DE CAMBURI              -0.7399      1.754     -0.422      0.673      -4.178       2.698
Neighbourhood_PRAIA DO CANTO                 -0.2346      1.584     -0.148      0.882      -3.339       2.870
Neighbourhood_PRAIA DO SUÁ                    0.1829      1.578      0.116      0.908      -2.911       3.277
Neighbourhood_REDENÇÃO                        0.0874      1.580      0.055      0.956      -3.009       3.183
Neighbourhood_REPÚBLICA                      -0.6246      1.593     -0.392      0.695      -3.747       2.497
Neighbourhood_RESISTÊNCIA                    -0.2481      1.576     -0.157      0.875      -3.338       2.841
Neighbourhood_ROMÃO                           0.2207      1.578      0.140      0.889      -2.873       3.314
Neighbourhood_SANTA CECÍLIA                   0.6645      1.596      0.416      0.677      -2.464       3.793
Neighbourhood_SANTA CLARA                     0.2697      1.591      0.169      0.865      -2.849       3.388
Neighbourhood_SANTA HELENA                    0.4763      1.613      0.295      0.768      -2.684       3.637
Neighbourhood_SANTA LUÍZA                    -0.6882      1.613     -0.427      0.670      -3.849       2.472
Neighbourhood_SANTA LÚCIA                     0.3792      1.595      0.238      0.812      -2.748       3.506
Neighbourhood_SANTA MARTHA                   -0.1452      1.577     -0.092      0.927      -3.236       2.945
Neighbourhood_SANTA TEREZA                   -0.2464      1.581     -0.156      0.876      -3.344       2.852
Neighbourhood_SANTO ANDRÉ                    -0.2296      1.578     -0.145      0.884      -3.322       2.863
Neighbourhood_SANTO ANTÔNIO                  -0.4037      1.577     -0.256      0.798      -3.495       2.687
Neighbourhood_SANTOS DUMONT                   0.5088      1.580      0.322      0.747      -2.587       3.605
Neighbourhood_SANTOS REIS                     0.3607      1.595      0.226      0.821      -2.765       3.487
Neighbourhood_SEGURANÇA DO LAR               -0.6583      1.631     -0.404      0.687      -3.856       2.539
Neighbourhood_SOLON BORGES                   -0.4723      1.592     -0.297      0.767      -3.592       2.647
Neighbourhood_SÃO BENEDITO                   -0.0356      1.579     -0.023      0.982      -3.131       3.060
Neighbourhood_SÃO CRISTÓVÃO                  -0.1002      1.578     -0.064      0.949      -3.194       2.993
Neighbourhood_SÃO JOSÉ                       -0.0066      1.579     -0.004      0.997      -3.102       3.089
Neighbourhood_SÃO PEDRO                       0.3928      1.577      0.249      0.803      -2.697       3.483
Neighbourhood_TABUAZEIRO                     -0.2418      1.576     -0.153      0.878      -3.331       2.847
Neighbourhood_UNIVERSITÁRIO                   0.4725      1.620      0.292      0.771      -2.702       3.647
Neighbourhood_VILA RUBIM                     -0.4320      1.585     -0.273      0.785      -3.538       2.674
WeekName_Monday                              -0.1989      0.056     -3.546      0.000      -0.309      -0.089
WeekName_Saturday                            -1.2514      1.027     -1.219      0.223      -3.263       0.761
WeekName_Thursday                            -0.1699      0.060     -2.851      0.004      -0.287      -0.053
WeekName_Tuesday                             -0.3680      0.056     -6.563      0.000      -0.478      -0.258
WeekName_Wednesday                           -0.2390      0.055     -4.363      0.000      -0.346      -0.132
=============================================================================================================
"""

In [19]:
np.set_printoptions(formatter={"float": lambda x:"{0:0.2f}".format(x)})
results_log.predict()

array([0.11, 0.09, 0.09, ..., 0.11, 0.15, 0.12])

In [20]:
np.array(data2["No-show"])

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

### Table of results - Confunsion Matrix

In [21]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ["Predicted 0", "Predicted 1"]
cm_df = cm_df.rename(index={0:"Actual 0", 1:'Actual 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0      19525.0        159.0
Actual 1       4223.0        106.0

### Results of Confusion Matrix --- Model's accuracy

In [22]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.8175155124307667

In [23]:
x_train#['No-show']
#len(x_train.columns.values)

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,DaysToAppointment,Neighbourhood_ANDORINHAS,...,Neighbourhood_SÃO JOSÉ,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,WeekName_Monday,WeekName_Saturday,WeekName_Thursday,WeekName_Tuesday,WeekName_Wednesday
41456,0,51,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,1,0
85848,0,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
67234,1,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
73473,1,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
26939,0,66,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56041,1,35,0,0,0,1,0,1,4,0,...,1,0,0,0,0,0,0,0,0,1
23311,0,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39393,1,49,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,1,0
2657,1,36,0,1,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
52062,1,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [24]:
x_test_c = sm.add_constant(x_test)#.to_numpy())
y_test_c = y_test['No-show']

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [25]:
def confusion_matrix(data,actual_values,model):
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and the accuracy
        return cm, accuracy

In [26]:
confusion_matrix(x_test_c , y_test_c, results_log)

(array([[8367.00, 87.00],
        [1787.00, 51.00]]), 0.8179168286047416)

We had accuracy 81,79%