In [1]:
import pandas            as pd
import numpy             as np
import statsmodels.api   as sm
import seaborn           as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

sns.set()

### Pre-DataAnalise

In [2]:
data_raw = pd.read_csv("KaggleV2-May-2016.csv")

In [3]:
data_raw.describe(include="all")

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
count,1.105270e+05,1.105270e+05,110527,110527,110527,110527.000000,110527,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527
unique,NaN,NaN,2,103549,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,F,2016-05-06T07:09:54Z,2016-06-06T00:00:00Z,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,NaN,NaN,No
freq,NaN,NaN,71840,24,4692,NaN,7717,NaN,NaN,NaN,NaN,NaN,NaN,88208
mean,1.474963e+14,5.675305e+06,NaN,NaN,NaN,37.088874,NaN,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,NaN
std,2.560949e+14,7.129575e+04,NaN,NaN,NaN,23.110205,NaN,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,NaN
min,3.921784e+04,5.030230e+06,NaN,NaN,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,4.172614e+12,5.640286e+06,NaN,NaN,NaN,18.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,3.173184e+13,5.680573e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,9.439172e+13,5.725524e+06,NaN,NaN,NaN,55.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN

We have 37920 unique patiant, so I decided remouve duplcate patiants, notwithstanding they had diferents scheduleds id.

In [4]:
data_raw["AppointmentID"].nunique()

110527

In [5]:
data_raw = data_raw.copy()
data_raw.drop_duplicates(subset ="PatientId", 
                     keep = False, inplace = True)
data_raw["AppointmentID"].nunique()

37920

## Find days to Appointment

In [6]:
data_diferencedays = data_raw.copy()
data_diferencedays["ScheduledDayDATEFORMAT"] = (data_diferencedays["ScheduledDay"])
data_diferencedays["ScheduledDayDATEFORMAT"] = pd.to_datetime(data_diferencedays.ScheduledDayDATEFORMAT)
data_diferencedays["AppointmentDayDATEFORMAT"] = (data_diferencedays["AppointmentDay"])
data_diferencedays["AppointmentDayDATEFORMAT"] = pd.to_datetime(data_diferencedays.AppointmentDayDATEFORMAT)
data_diferencedays["DaysToAppointment"] = (data_diferencedays["AppointmentDayDATEFORMAT"] - data_diferencedays["ScheduledDayDATEFORMAT"]).dt.days
data_diferencedays.loc[data_diferencedays.DaysToAppointment < 0, 'DaysToAppointment'] = 0
data_diferencedays.describe(include="all")

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment
count,3.792000e+04,3.792000e+04,37920,37920,37920,37920.000000,37920,37920.000000,37920.000000,37920.000000,37920.000000,37920.000000,37920.000000,37920,37920,37920,37920.000000
unique,NaN,NaN,2,37232,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2,37232,27,NaN
top,NaN,NaN,F,2016-03-29T10:43:41Z,2016-06-06T00:00:00Z,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,NaN,NaN,No,2016-03-29 10:43:41+00:00,2016-06-06 00:00:00+00:00,NaN
freq,NaN,NaN,23675,10,1677,NaN,2423,NaN,NaN,NaN,NaN,NaN,NaN,30802,10,1677,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-07 10:40:59+00:00,2016-04-29 00:00:00+00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,NaN
mean,1.475646e+14,5.668888e+06,NaN,NaN,NaN,36.784362,NaN,0.087236,0.197178,0.069409,0.022310,0.019146,0.335179,NaN,NaN,NaN,11.313555
std,2.552804e+14,7.749066e+04,NaN,NaN,NaN,23.831285,NaN,0.282185,0.397873,0.254152,0.147692,0.151480,0.472059,NaN,NaN,NaN,17.005456
min,3.921784e+04,5.134197e+06,NaN,NaN,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,4.172537e+12,5.629586e+06,NaN,NaN,NaN,16.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,3.195643e+13,5.676262e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,3.000000
75%,9.536950e+13,5.723149e+06,NaN,NaN,NaN,56.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,18.000000
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN,NaN,NaN,178.000000

### Clean outliers

In [7]:
q = 90 #data_raw['Age'].quantile(0.90)#90#
data_diferencedays = data_diferencedays[data_diferencedays["Age"]<q]
data_diferencedays = data_diferencedays[data_diferencedays["Age"]> 0]

q = 40 #data_diferencedays['DaysToAppointment'].quantile(0.99)
data_diferencedays = data_diferencedays[data_diferencedays["DaysToAppointment"]<q]
data_diferencedays.describe(include="all")

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment
count,3.430500e+04,3.430500e+04,34305,34305,34305,34305.000000,34305,34305.000000,34305.000000,34305.000000,34305.000000,34305.000000,34305.000000,34305,34305,34305,34305.000000
unique,NaN,NaN,2,33706,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2,33706,27,NaN
top,NaN,NaN,F,2016-05-06T07:09:54Z,2016-06-06T00:00:00Z,NaN,MARIA ORTIZ,NaN,NaN,NaN,NaN,NaN,NaN,No,2016-05-06 07:09:54+00:00,2016-06-06 00:00:00+00:00,NaN
freq,NaN,NaN,21479,9,1516,NaN,1893,NaN,NaN,NaN,NaN,NaN,NaN,28138,9,1516,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-21 07:10:20+00:00,2016-04-29 00:00:00+00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-06-08 20:07:23+00:00,2016-06-08 00:00:00+00:00,NaN
mean,1.476184e+14,5.681121e+06,NaN,NaN,NaN,37.281941,NaN,0.092290,0.201778,0.071972,0.023816,0.019560,0.314065,NaN,NaN,NaN,7.990118
std,2.551562e+14,6.071691e+04,NaN,NaN,NaN,22.993049,NaN,0.289439,0.401333,0.258445,0.152477,0.153272,0.464149,NaN,NaN,NaN,10.668220
min,3.921784e+04,5.491952e+06,NaN,NaN,NaN,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,4.178387e+12,5.639981e+06,NaN,NaN,NaN,17.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,3.194633e+13,5.681703e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,2.000000
75%,9.536869e+13,5.729113e+06,NaN,NaN,NaN,56.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,14.000000
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,89.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN,NaN,NaN,39.000000

## Whats day of week was the appointment:

In [8]:
data_weekname = data_diferencedays.copy()

In [9]:
data_weekname["WeekName"] = data_weekname["AppointmentDayDATEFORMAT"].dt.weekday_name
data_weekname["Month"] = data_weekname["AppointmentDayDATEFORMAT"].dt.month_name()

In [10]:
data_weekname.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment,WeekName,Month
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes,2016-04-27 15:05:12+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No,2016-04-29 08:02:16+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No,2016-04-27 12:48:25+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,No,2016-04-27 14:58:11+00:00,2016-04-29 00:00:00+00:00,1,Friday,April

## Create binary to GENDER and No-Show

In [11]:
data_toBinary = data_weekname.copy()
data_toBinary["No-show"] = data_toBinary["No-show"].map({"No":0, "Yes":1})
data_toBinary["Gender"] = data_toBinary["Gender"].map({"F":1, "M":0})
data_toBinary.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayDATEFORMAT,AppointmentDayDATEFORMAT,DaysToAppointment,WeekName,Month
4,8.841186e+12,5642494,1,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
6,7.336882e+14,5630279,1,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,1,2016-04-27 15:05:12+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
8,5.639473e+13,5638447,1,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,0,2016-04-29 08:02:16+00:00,2016-04-29 00:00:00+00:00,0,Friday,April
9,7.812456e+13,5629123,1,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,0,2016-04-27 12:48:25+00:00,2016-04-29 00:00:00+00:00,1,Friday,April
10,7.345362e+14,5630213,1,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,0,2016-04-27 14:58:11+00:00,2016-04-29 00:00:00+00:00,1,Friday,April

## Creating Dummies to Neighbourhood, weekname and month

In [12]:
data_w_dummies = pd.get_dummies(data_toBinary, columns=["Neighbourhood","WeekName","Month"],drop_first=True)
data_w_dummies.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,...,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,WeekName_Monday,WeekName_Saturday,WeekName_Thursday,WeekName_Tuesday,WeekName_Wednesday,Month_June,Month_May
4,8.841186e+12,5642494,1,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,7.336882e+14,5630279,1,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5.639473e+13,5638447,1,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,7.812456e+13,5629123,1,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,7.345362e+14,5630213,1,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
#data_w_dummies.columns.values

### Finding TARGET and Inputs data

In [14]:
data2 = data_w_dummies.copy()
data2

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,...,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,WeekName_Monday,WeekName_Saturday,WeekName_Thursday,WeekName_Tuesday,WeekName_Wednesday,Month_June,Month_May
4,8.841186e+12,5642494,1,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,7.336882e+14,5630279,1,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5.639473e+13,5638447,1,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,7.812456e+13,5629123,1,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,7.345362e+14,5630213,1,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110501,4.544252e+11,5758133,0,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,44,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110511,8.235996e+11,5786742,1,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,14,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110512,9.876246e+13,5786368,1,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,41,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110513,8.674778e+13,5785964,0,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,2,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
110520,9.969977e+14,5650534,1,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,42,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [15]:
target = data2[["No-show"]]
inputs = data2.drop(['No-show','PatientId', 'AppointmentID', 'ScheduledDay'
                     ,'AppointmentDay','ScheduledDayDATEFORMAT', 'AppointmentDayDATEFORMAT',
                     'Month_May','Month_June'], axis=1)
#inputs = data2[['DaysToAppointment',"Age","Gender"]]
#inputs

In [16]:
'''from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(inputs)
inputs_scaled = scaler.transform(inputs)'''

'from sklearn.preprocessing import StandardScaler\n\nscaler = StandardScaler()\nscaler.fit(inputs)\ninputs_scaled = scaler.transform(inputs)'

### Split data in train and test

In [17]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3, random_state=42)
y_train

       No-show
41456        0
85848        1
67234        0
73473        0
26939        0
...        ...
56041        0
23311        1
39393        0
2657         1
52062        0

[24013 rows x 1 columns]

### Plot of Age vs No-Show

plt.scatter(x_train['Age'],y_train,color='C0',  alpha=0.2)
plt.xlabel("Age", fontsize=20)
plt.ylabel('No-show', fontsize=20)
plt.show()

In [28]:
inputs_train = sm.add_constant(x_train)#.to_numpy())
reg_log = sm.Logit(y_train,inputs_train)
results_log = reg_log.fit(maxiter=1400, method='ncg')
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.437152
         Iterations: 22
         Function evaluations: 25
         Gradient evaluations: 46
         Hessian evaluations: 22

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                No-show   No. Observations:                24013
Model:                          Logit   Df Residuals:                    23918
Method:                           MLE   Df Model:                           94
Date:                Fri, 29 Nov 2019   Pseudo R-squ.:                 0.07347
Time:                        12:15:35   Log-Likelihood:                -10497.
converged:                       True   LL-Null:                       -11330.
Covariance Type:            nonrobust   LLR p-value:                1.377e-285
=============================================================================================================
                                                coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
const                                        -0.6351      1.245     -0.510      0.610      -3.074       1.804
Gender                                        0.0167      0.037      0.454      0.650      -0.056       0.089
Age                                          -0.0075      0.001     -7.940      0.000      -0.009      -0.006
Scholarship                                   0.1044      0.059      1.757      0.079      -0.012       0.221
Hipertension                                 -0.1559      0.059     -2.651      0.008      -0.271      -0.041
Diabetes                                      0.1098      0.080      1.378      0.168      -0.046       0.266
Alcoholism                                    0.3037      0.108      2.800      0.005       0.091       0.516
Handcap                                       0.0100      0.123      0.081      0.935      -0.230       0.250
SMS_received                                  0.2909      0.040      7.294      0.000       0.213       0.369
DaysToAppointment                             0.0495      0.002     28.195      0.000       0.046       0.053
Neighbourhood_ANDORINHAS                     -1.0997      1.252     -0.879      0.380      -3.553       1.354
Neighbourhood_ANTÔNIO HONÓRIO                -1.7996      1.285     -1.400      0.161      -4.318       0.719
Neighbourhood_ARIOVALDO FAVALESSA            -0.8865      1.281     -0.692      0.489      -3.397       1.624
Neighbourhood_BARRO VERMELHO                 -0.5325      1.276     -0.417      0.677      -3.034       1.969
Neighbourhood_BELA VISTA                     -0.9136      1.250     -0.731      0.465      -3.364       1.536
Neighbourhood_BENTO FERREIRA                 -0.9226      1.256     -0.734      0.463      -3.385       1.540
Neighbourhood_BOA VISTA                      -0.8861      1.281     -0.692      0.489      -3.397       1.625
Neighbourhood_BONFIM                         -0.9629      1.248     -0.772      0.440      -3.409       1.483
Neighbourhood_CARATOÍRA                      -0.5839      1.248     -0.468      0.640      -3.030       1.862
Neighbourhood_CENTRO                         -0.9732      1.248     -0.780      0.436      -3.419       1.473
Neighbourhood_COMDUSA                        -0.7719      1.294     -0.596      0.551      -3.309       1.765
Neighbourhood_CONQUISTA                      -0.8103      1.257     -0.644      0.519      -3.275       1.654
Neighbourhood_CONSOLAÇÃO                     -1.2176      1.254     -0.971      0.332      -3.676       1.240
Neighbourhood_CRUZAMENTO                     -1.1625      1.257     -0.925      0.355      -3.626       1.301
Neighbourhood_DA PENHA                       -0.9297      1.249     -0.744      0.457      -3.378       1.518
Neighbourhood_DE LOURDES                     -1.3606      1.289     -1.055      0.291      -3.888       1.167
Neighbourhood_DO CABRAL                      -1.6219      1.274     -1.274      0.203      -4.118       0.874
Neighbourhood_DO MOSCOSO                     -0.2701      1.264     -0.214      0.831      -2.747       2.207
Neighbourhood_DO QUADRO                      -1.3646      1.259     -1.084      0.278      -3.832       1.103
Neighbourhood_ENSEADA DO SUÁ                 -0.4197      1.278     -0.328      0.743      -2.924       2.085
Neighbourhood_ESTRELINHA                     -0.5385      1.262     -0.427      0.670      -3.013       1.936
Neighbourhood_FONTE GRANDE                   -0.6834      1.267     -0.539      0.590      -3.168       1.801
Neighbourhood_FORTE SÃO JOÃO                 -1.1624      1.256     -0.926      0.355      -3.624       1.299
Neighbourhood_FRADINHOS                      -1.5490      1.308     -1.184      0.236      -4.112       1.014
Neighbourhood_GOIABEIRAS                     -1.3080      1.265     -1.034      0.301      -3.787       1.171
Neighbourhood_GRANDE VITÓRIA                 -0.9786      1.255     -0.780      0.435      -3.438       1.481
Neighbourhood_GURIGICA                       -0.6276      1.249     -0.503      0.615      -3.075       1.820
Neighbourhood_HORTO                          -0.3358      1.296     -0.259      0.796      -2.876       2.204
Neighbourhood_ILHA DAS CAIEIRAS              -0.4240      1.254     -0.338      0.735      -2.882       2.034
Neighbourhood_ILHA DE SANTA MARIA            -1.0392      1.252     -0.830      0.407      -3.493       1.415
Neighbourhood_ILHA DO BOI                    -7.8945     25.989     -0.304      0.761     -58.832      43.043
Neighbourhood_ILHA DO FRADE                   1.0753      1.887      0.570      0.569      -2.623       4.774
Neighbourhood_ILHA DO PRÍNCIPE               -0.8271      1.252     -0.661      0.509      -3.280       1.626
Neighbourhood_ILHAS OCEÂNICAS DE TRINDADE     6.0726     25.303      0.240      0.810     -43.519      55.665
Neighbourhood_INHANGUETÁ                     -0.6155      1.253     -0.491      0.623      -3.072       1.840
Neighbourhood_ITARARÉ                        -0.7692      1.247     -0.617      0.537      -3.213       1.675
Neighbourhood_JABOUR                         -1.3460      1.249     -1.078      0.281      -3.794       1.102
Neighbourhood_JARDIM CAMBURI                 -1.1086      1.247     -0.889      0.374      -3.553       1.336
Neighbourhood_JARDIM DA PENHA                -1.4605      1.247     -1.171      0.242      -3.905       0.984
Neighbourhood_JESUS DE NAZARETH              -0.7699      1.250     -0.616      0.538      -3.220       1.680
Neighbourhood_JOANA D´ARC                    -1.0754      1.255     -0.857      0.391      -3.535       1.384
Neighbourhood_JUCUTUQUARA                    -1.0339      1.264     -0.818      0.413      -3.511       1.443
Neighbourhood_MARIA ORTIZ                    -1.3445      1.246     -1.079      0.281      -3.787       1.098
Neighbourhood_MARUÍPE                        -0.9477      1.251     -0.757      0.449      -3.400       1.505
Neighbourhood_MATA DA PRAIA                  -1.1956      1.263     -0.947      0.344      -3.671       1.280
Neighbourhood_MONTE BELO                     -1.1222      1.260     -0.891      0.373      -3.591       1.347
Neighbourhood_MORADA DE CAMBURI              -1.3042      1.337     -0.975      0.329      -3.925       1.317
Neighbourhood_MÁRIO CYPRESTE                 -1.2211      1.279     -0.955      0.340      -3.728       1.286
Neighbourhood_NAZARETH                       -1.3977      1.367     -1.022      0.307      -4.077       1.282
Neighbourhood_NOVA PALESTINA                 -0.8971      1.250     -0.718      0.473      -3.346       1.552
Neighbourhood_PARQUE INDUSTRIAL              -5.6240     26.367     -0.213      0.831     -57.302      46.054
Neighbourhood_PARQUE MOSCOSO                 -0.6291      1.256     -0.501      0.616      -3.090       1.832
Neighbourhood_PIEDADE                        -1.3081      1.285     -1.018      0.309      -3.826       1.210
Neighbourhood_PONTAL DE CAMBURI              -1.6861      1.468     -1.149      0.251      -4.562       1.190
Neighbourhood_PRAIA DO CANTO                 -1.1741      1.258     -0.934      0.351      -3.639       1.291
Neighbourhood_PRAIA DO SUÁ                   -0.7569      1.251     -0.605      0.545      -3.209       1.695
Neighbourhood_REDENÇÃO                       -0.8524      1.252     -0.681      0.496      -3.307       1.602
Neighbourhood_REPÚBLICA                      -1.5647      1.269     -1.233      0.218      -4.053       0.923
Neighbourhood_RESISTÊNCIA                    -1.1878      1.248     -0.951      0.341      -3.635       1.259
Neighbourhood_ROMÃO                          -0.7191      1.251     -0.575      0.565      -3.171       1.733
Neighbourhood_SANTA CECÍLIA                  -0.2756      1.274     -0.216      0.829      -2.772       2.221
Neighbourhood_SANTA CLARA                    -0.6703      1.267     -0.529      0.597      -3.153       1.813
Neighbourhood_SANTA HELENA                   -0.4644      1.294     -0.359      0.720      -3.000       2.072
Neighbourhood_SANTA LUÍZA                    -1.6288      1.294     -1.259      0.208      -4.165       0.907
Neighbourhood_SANTA LÚCIA                    -0.5609      1.272     -0.441      0.659      -3.055       1.933
Neighbourhood_SANTA MARTHA                   -1.0849      1.249     -0.869      0.385      -3.533       1.363
Neighbourhood_SANTA TEREZA                   -1.1860      1.254     -0.946      0.344      -3.643       1.271
Neighbourhood_SANTO ANDRÉ                    -1.1694      1.250     -0.935      0.350      -3.620       1.281
Neighbourhood_SANTO ANTÔNIO                  -1.3433      1.249     -1.075      0.282      -3.792       1.105
Neighbourhood_SANTOS DUMONT                  -0.4309      1.253     -0.344      0.731      -2.886       2.024
Neighbourhood_SANTOS REIS                    -0.5795      1.272     -0.456      0.649      -3.072       1.913
Neighbourhood_SEGURANÇA DO LAR               -1.5993      1.317     -1.214      0.225      -4.181       0.983
Neighbourhood_SOLON BORGES                   -1.4119      1.268     -1.114      0.265      -3.896       1.073
Neighbourhood_SÃO BENEDITO                   -0.9754      1.252     -0.779      0.436      -3.429       1.478
Neighbourhood_SÃO CRISTÓVÃO                  -1.0399      1.251     -0.831      0.406      -3.492       1.412
Neighbourhood_SÃO JOSÉ                       -0.9465      1.252     -0.756      0.450      -3.400       1.507
Neighbourhood_SÃO PEDRO                      -0.5469      1.249     -0.438      0.661      -2.994       1.901
Neighbourhood_TABUAZEIRO                     -1.1814      1.248     -0.947      0.344      -3.628       1.265
Neighbourhood_UNIVERSITÁRIO                  -0.4684      1.303     -0.360      0.719      -3.022       2.085
Neighbourhood_VILA RUBIM                     -1.3718      1.259     -1.090      0.276      -3.839       1.095
WeekName_Monday                              -0.1982      0.056     -3.532      0.000      -0.308      -0.088
WeekName_Saturday                            -1.2916      1.044     -1.237      0.216      -3.339       0.755
WeekName_Thursday                            -0.1688      0.060     -2.833      0.005      -0.286      -0.052
WeekName_Tuesday                             -0.3672      0.056     -6.548      0.000      -0.477      -0.257
WeekName_Wednesday                           -0.2379      0.055     -4.342      0.000      -0.345      -0.131
=============================================================================================================
"""

In [19]:
np.set_printoptions(formatter={"float": lambda x:"{0:0.2f}".format(x)})
results_log.predict()

array([0.11, 0.09, 0.09, ..., 0.11, 0.15, 0.12])

In [20]:
np.array(data2["No-show"])

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

### Table of results - Confunsion Matrix

In [21]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ["Predicted 0", "Predicted 1"]
cm_df = cm_df.rename(index={0:"Actual 0", 1:'Actual 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0      19525.0        159.0
Actual 1       4222.0        107.0

### Results of Confusion Matrix --- Model's accuracy

In [22]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.8175571565402074

In [23]:
x_train#['No-show']
#len(x_train.columns.values)

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,DaysToAppointment,Neighbourhood_ANDORINHAS,...,Neighbourhood_SÃO JOSÉ,Neighbourhood_SÃO PEDRO,Neighbourhood_TABUAZEIRO,Neighbourhood_UNIVERSITÁRIO,Neighbourhood_VILA RUBIM,WeekName_Monday,WeekName_Saturday,WeekName_Thursday,WeekName_Tuesday,WeekName_Wednesday
41456,0,51,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,1,0
85848,0,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
67234,1,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
73473,1,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
26939,0,66,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56041,1,35,0,0,0,1,0,1,4,0,...,1,0,0,0,0,0,0,0,0,1
23311,0,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39393,1,49,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,1,0
2657,1,36,0,1,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
52062,1,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [24]:
x_test_c = sm.add_constant(x_test)#.to_numpy())
y_test_c = y_test['No-show']

In [35]:
def confusion_matrix(data,actual_values,model):
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and the accuracy
        cm_df = pd.DataFrame(cm)
        
        cm_df.columns = ["Predicted 0", "Predicted 1"]
        cm_df = cm_df.rename(index={0:"Actual 0", 1:'Actual 1'})
        
        return cm_df, accuracy

In [36]:
confusion_matrix(x_test_c , y_test_c, results_log)

(          Predicted 0  Predicted 1
 Actual 0       8367.0         87.0
 Actual 1       1787.0         51.0, 0.8179168286047416)

We had accuracy 81,79%